/.asus-aura.ko.cmd
/.asus-aura.mod.cmd
/.asus-aura.mod.o.cmd
/.asus-aura.o.cmd
/.Module.symvers.cmd
/.modules.order.cmd
/asus-aura.ko
/asus-aura.mod
/asus-aura.mod.c
/asus-aura.mod.o
/asus-aura.o
/Module.symvers
/modules.order
